<html>
<head>
	<title>Template Pages</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
<h1>This is my first heading
</h1>
<h2> This is my second heading</h2>
<p>This is a lovely paragraph</p>
<a href="www.google.com"></a>

<script type="text/javascript" src="scripts/scripts.js"></script>

</html>
<img src="images/bun.jpg">

<div class="mydiv">
<h1>Woo I'm in a div</h1>
<p>a div is a group. I like groups.</p>

</div>
<div class="mydiv relative">
	<h1>I'm a relative div</h1>
</div>

<div class="mydiv fixed">
	<h1>I'm a fixed div</h1>
</div>

<div class="mydiv absolute">
	<h1>I'm a absolute div</h1>
</div>

</body>